<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XXDrager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1424142E1E6D49DF0084DB01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>142414471E6D49DF0084DB01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>142414521E6D49DF0084DB01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
